# Notebooks
notebooks/test.ipynb
notebooks/.ipynb_checkpoints/*.ipynb
.ipynb_checkpoints/*.ipynb
id-tests.ipynb

# Test data
*.sqlite
*.pdf

# Front end
node_modules
internal-displacement-web/dist
internal_displacement/classifiers/default_model.pkl
npm-debug.log

# Misc
*.pyc
.idea/
*.csv

# Mac
.DS_Store
/internal-displacement-web/server/pgDB/pgConfig.js
